.affectation-container {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.accordion-header {
  background-color: #2a76b4; /* bordeaux */
  color: white;
  padding: 10px;
  margin-bottom: 1px;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
}

.affectation-form {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-top: none;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.affectation-form label {
  font-weight: 500;
}

.affectation-form input,
.affectation-form select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.btn-enregistrer {
  background-color: #2e6da4;
  color: white;
  padding: 10px ;
  max-width: 80px;
  border: none;
  margin-top: 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn-enregistrer:hover {
  background-color: #1d4f80;
}
